@import url("../assets/fonts/fonts.css");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tema escuro — padrão */
[data-theme="dark"] {
  --color-bg: linear-gradient(180deg, #040918 0%, #091540 100%);
  --color-card_header: hsl(224, 26%, 16%);
  --color-text: hsl(0, 0%, 100%);
  --color-accent: hsl(3, 87%, 64%);
  --color-button-remove: hsl(224, 26%, 16%);
  --color-buttons: hsl(227, 23%, 24%);
  --color-button-hover: hsl(222, 13%, 36%);
  --color-toggle-off: hsl(224, 12%, 36%);
  --color-text-active: hsl(224, 26%, 16%);
  --color-border: hsl(224, 12%, 36%);
  --color-button-remove-hover: hsl(3, 87%, 64%);
  --color-button-remove-text-hover: hsl(0, 0%, 100%);
  --color-button-theme: hsl(227, 23%, 24%);
  --color-button-theme-hover: hsl(222, 13%, 36%);
}

/* Tema claro */
[data-theme="light"] {
  --color-bg: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --color-card_header: hsl(0, 0%, 100%);
  --color-text: hsl(227, 75%, 14%);
  --color-accent: hsl(3, 77%, 44%);
  --color-header: hsl(0, 0%, 100%);
  --color-toggle-off: hsl(0, 0%, 78%);
  --font-weight: bold;
  --color-text-active: hsl(0, 0%, 100%);
  --color-border: hsl(60, 3%, 93%);
  --color-buttons: hsl(0, 0%, 100%);
  --color-button-remove-hover: hsl(4, 76%, 44%);
  --color-button-remove-text-hover: hsl(0, 0%, 100%);
  --color-button-hover: hsl(0, 0%, 93%, 80%);
  --color-button-theme-hover: hsl(96, 4%, 78%);
}

body {
  background-image: var(--color-bg);
  color: var(--color-text);
  font-family: "Noto Sans", sans-serif;
  max-width: 1170px;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  body {
    margin: 39px 15px;
  }
}

@media screen and (max-width: 975px) {
  body {
    max-width: 780px;
    justify-self: center;
  }
}

@media screen and (max-width: 700px) {
  body {
    margin: 20px 15px;
  }
}

.header {
  background-color: var(--color-card_header);
  padding: 0.7rem 0.9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header__right_side {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.header__logo {
  color: var(--color-text);
}

.header__theme_button {
  background: var(--color-button-theme);
  color: var(--color-text);
  padding: 13px;
  border-radius: 10px;
  border: 0;
}

.header__theme_button:hover {
  background-color: var(--color-button-theme-hover);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .controls {
    flex-direction: column;
    gap: 20px;
    padding-top: 40px;
  }
}

.controls__filters {
  display: flex;
  gap: 16px;
}

.filter-btn {
  border-radius: 20px;
  border: 1px solid var(--color-buttons) /* qual cor? */;
  background: var(--color-buttons);
  color: var(--color-text);
  padding: 10px 18px;
  font-size: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.filter-btn.active {
  background-color: var(--color-accent);
  color: var(--color-text-active);
  border: 0;
}

.filter-btn:hover {
  background-color: var(--color-button-hover);
  color: var(--color-card);
}

.filter-btn:focus {
  background-color: var(--color-toggle-off);
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-bottom: 100px;
}

@media screen and (max-width: 975px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
  }
}

@media screen and (max-width: 700px) {
  .cards {
    grid-template-columns: auto;
    justify-content: center;
  }
}

.card {
  max-width: 382px;
  max-height: 203.53px;
  background: var(--color-card_header);
  padding: 20px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 45px;
  border-style: solid;
  border-width: 0.5px;
  border-color: var(--color-border);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card__remove {
  background: var(--color-button-remove);
  color: var(--color-text);
  font-weight: var(--font-weight);
  padding: 10px 15px;
  border-style: solid;
  border-radius: 20px;
  border-color: var(--color-toggle-off);
  border-width: 0.5px;
  font-size: 15px;
}

.card__remove:focus {
  background-color: var(--color-button-hover);
}

.card__remove:hover {
  background-color: var(--color-button-remove-hover);
  color: var(--color-button-remove-text-hover);
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  justify-items: end;
}

.card__header {
  display: flex;
  gap: 15px;
  width: 100%;
  align-items: self-start;
}

.card__logo {
}

.card__texts {
  max-height: 76.05px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 2px;
}

.card__title {
  font-size: 1.2rem;
  font-weight: bold;
}

.card__description {
  font-size: 16px;
  color: var(--color-text);
  line-height: 1.3;
}

/* The container (label) - the switch's track area */
.card__toggle {
  position: relative;
  display: inline-block;
  width: 43px; /* Adjust width/height as needed */
  height: 21px;
  cursor: pointer; /* Makes the entire area clickable */
  align-self: center;
}

/* Hide the default HTML checkbox */
.card__toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider track (the background) */
.toggle__slider {
  position: absolute;
  top: 0;
  left: 6px;
  right: 0;
  bottom: 0;
  background-color: var(--color-toggle-off); /* Off state color */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px; /* Makes it a pill shape */
}

/* The slider knob (the circular part) */
.toggle__slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Slightly smaller than the track height - padding */
  width: 16px;
  left: 3px; /* Padding from the left edge */
  bottom: 3px; /* Padding from the bottom edge */
  background-color: white; /* Knob color */
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%; /* Makes it a circle */
}

/* Change the background color when the checkbox is checked */
input:checked + .toggle__slider {
  background-color: var(--color-accent); /* On state color */
}

/* Move the knob to the right when the checkbox is checked */
input:checked + .toggle__slider:before {
  -webkit-transform: translateX(26px); /* Width of knob + left padding */
  -ms-transform: translateX(26px);
  transform: translateX(16px);
}
